* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c2841;
    opacity: 1;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 3vw;
    margin: 5%;
    color: indianred;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 2vw;
    margin: 5%;
    color: indianred;
}

i {
    font-size: 4vw;
    padding: 10%;
}

.head {
    width: min(50vh, 50vw);
    height: min(50vh, 50vw);
}

.board {
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    padding: 2.5%;
    background-color: #ffebbc;
}

.line {
    height: min(12.5%);
    display: flex;
    flex-direction: row;
}

.box {
    width: 12.5%;
    aspect-ratio: 1;
    text-align: center;
}

.line:nth-child(odd) .box:nth-child(odd) {
    background: #855E42;
}

.line:nth-child(odd) .box:nth-child(even) {
    background: #C1AD9E
}

.line:nth-child(even) .box:nth-child(even) {
    background: #855E42;
}

.line:nth-child(even) .box:nth-child(odd) {
    background: #C1AD9E
}

#pawn-white-move {
    color: #ffebbc;
    position: relative;
    animation-name: pawn;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes pawn {
    0% {
        bottom: 0%;
    }

    25% {
        bottom: 0%;
    }

    50% {
        bottom: 100%;
    }

    75% {
        bottom: 200%;
    }

    100% {
        bottom: 200%;
    }
}

#rook-white-move {
    color: #ffebbc;
    position: relative;
    animation-name: rook;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes rook {
    0% {
        right: 0%;
        bottom: 0%;
    }

    25% {
        right: 0%;
        bottom: 500%;
    }

    50% {
        right: 700%;
        bottom: 500%;
    }

    75% {
        right: 0%;
        bottom: 500%;
    }

    100% {
        right: 0%;
        bottom: 0%;
    }
}

#knight-white-move {
    color: #ffebbc;
    position: relative;
    animation-name: knight;
    animation-duration: 4s;
    animation-delay: 8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes knight {
    0% {
        right: 0%;
        bottom: 0%;
    }

    25% {
        right: 0%;
        bottom: 200%;
    }

    50% {
        right: 100%;
        bottom: 200%;
    }

    75% {
        right: 0%;
        bottom: 200%;
    }

    100% {
        right: 0%;
        bottom: 0%;
    }
}

#bishop-white-move {
    color: #ffebbc;
    position: relative;
    animation-name: bishop;
    animation-duration: 4s;
    animation-delay: 12s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes bishop {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-750%, -525%);
    }
}

#queen-white-move {
    color: #ffebbc;
    position: relative;
    animation-name: queen;
    animation-duration: 8s;
    animation-delay: 16s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes queen {
    0% {
        bottom: 0rem;
    }

    20% {
        bottom: 500%;
        left: 0rem;
    }

    40% {
        left: 400%;
        bottom: 500%;
        transform: translate(0, 0);
    }


    60% {
        transform: translate(-315%, 315%);
        left: 400%;
        bottom: 500%;
    }


    80% {
        transform: translate(0px, 0px);
        left: 400%;
        bottom: 500%;
    }


    100% {
        left: 400%;
        bottom: 500%;
    }
}

#king-white-move {
    color: #ffebbc;
    position: relative;
    animation-name: king;
    animation-duration: 8s;
    animation-delay: 22.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes king {
    0% {
        bottom: 0%;
    }

    10% {
        bottom: 100%;
    }

    20% {
        right: 0%;
        bottom: 0%;
        transform: translate(0, 0);
    }

    40% {
        transform: translate(-115%, -115%);
    }

    60% {
        transform: translate(0, 0);
        right: 0%;
        bottom: 0%;
    }

    80% {
        right: 100%;
        bottom: 0%;
    }

    100% {
        right: 0%;
        bottom: 0%;
    }
}