* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c2841;
    opacity: 1;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

i {
    font-size: 3rem;
}

#chessboard {
    width: 500px;
    height: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: indianred;
    margin-top: 10vh;
}

#board {
    border: 5px solid black;
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.line {
    width: 100%;
    height: 12.5%;
    display: flex;
}

.box {
    width: 12.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line:nth-child(odd) .box:nth-child(odd) {
    background: #855E42;
}

.line:nth-child(odd) .box:nth-child(even) {
    background: #C1AD9E
}

.line:nth-child(even) .box:nth-child(even) {
    background: #855E42;
}

.line:nth-child(even) .box:nth-child(odd) {
    background: #C1AD9E
}


.black-piece {
    color: #2B1E16;
    height: 80%;
}

.black-piece:hover {
    color: #292830;
}

.white-piece {
    color: #9D7E68;
    height: 80%;
}

.white-piece:hover {
    color: #ffebbc;
}

.white-piece-move-pawn {
    color: #ffebbc;
    position: relative;
    animation-name: pawn;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes pawn {
    0% {
        bottom: 0rem;
    }

    25% {
        bottom: 0rem;
    }

    50% {
        bottom: 4rem;
    }

    75% {
        bottom: 8rem;
    }

    100% {
        bottom: 8rem;
    }
}

.white-piece-move-rook {
    color: #ffebbc;
    position: relative;
    animation-name: rook;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes rook {
    0% {
        right: 0rem;
        bottom: 0rem;
    }

    25% {
        right: 0rem;
        bottom: 19rem;
    }

    50% {
        right: 27rem;
        bottom: 19rem;
    }

    75% {
        right: 0rem;
        bottom: 19rem;
    }

    100% {
        right: 0rem;
        bottom: 0rem;
    }
}

.white-piece-move-knight {
    color: #ffebbc;
    position: relative;
    animation-name: knight;
    animation-duration: 4s;
    animation-delay: 8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes knight {
    0% {
        right: 0rem;
        bottom: 0rem;
    }

    25% {
        right: 0rem;
        bottom: 7.5rem;
    }

    50% {
        right: 4rem;
        bottom: 7.5rem;
    }

    75% {
        right: 0rem;
        bottom: 7.5rem;
    }

    100% {
        right: 0rem;
        bottom: 0rem;
    }
}

.white-piece-move-bishop {
    color: #ffebbc;
    position: relative;
    animation-name: bishop;
    animation-duration: 4s;
    animation-delay: 12s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes bishop {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-19.5rem, -19.5rem);
    }
}

.white-piece-move-queen {
    color: #ffebbc;
    position: relative;
    animation-name: queen;
    animation-duration: 8s;
    animation-delay: 16s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes queen {
    0% {
        bottom: 0rem;
    }

    20% {
        bottom: 19rem;
        left: 0rem;
    }

    40% {
        left: 15.5rem;
        bottom: 19rem;
        transform: translate(0, 0);
    }


    60% {
        transform: translate(-11.5rem, 11.5rem);
        left: 15.5rem;
        bottom: 19rem;
    }


    80% {
        transform: translate(0px, 0px);
        left: 15.5rem;
        bottom: 19rem;
    }


    100% {
        left: 15.5rem;
        bottom: 19rem;
    }
}


.white-piece-move-king {
    color: #ffebbc;
    position: relative;
    animation-name: king;
    animation-duration: 8s;
    animation-delay: 22.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes king {
    0% {
        bottom: 0rem;
    }

    10% {
        bottom: 4rem;
    }

    20% {
        right: 0rem;
        bottom: 0rem;
        transform: translate(0, 0);
    }

    40% {
        transform: translate(-4rem, -4rem);
    }

    60% {
        transform: translate(0, 0);
        right: 0rem;
        bottom: 0rem;
    }

    80% {
        right: 4rem;
        bottom: 0rem;
    }

    100% {
        right: 0rem;
        bottom: 0rem;
    }
}

@media screen and (max-width: 500px) {
    #chessboard {
        width: 100vw;
        height: auto;

    }

    i {
        font-size: 100%;
        text-align: center;
    }
}